# OS
Thumbs.db
.DS_Store

# Dependencies
node_modules/

# Frontend Build
dist/
build/
coverage/

# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log

# Environment
.env
.env.*